
{{ define "main"}}
fgdfg
dfsgfdsfg ddfg
dsfgtrh
trhrt
{{ end }}

{{ define "body" }}
  <main class="page-404" data-transition="fadeIn">
    <div class="container">
      <div class="page-404-content">
        <h1>404. Sorry, the page was not found.</h1>
        <p>
          The page you are looking for doesn’t exists.<br>
          Please check your URL address.
        </p>
        <a class="go-home-button" href="{{ .LanguagePrefix | absURL }}">
          {{- i18n "goToHome" -}}
        </a>
      </div>
    </div>
  </main>
{{ end }}
